<div class="container">
<div class="col-2 mt-5 secondary text-center">
<h2>マイページ</h2>
</div>
</div>

<div class="container row mt-5">
<div class="col-2 ml-3 mt-2">
<h5>登録情報</h5>
</div>
<div class="form-group postion-center">
<%= link_to '編集する',edit_customer_registration_path, class:"btn btn-success" %>
</div>
</div>

<div class="col-7 ml-3">
<table class="table table-bordered">
    <tr>
        <td class="secondary">氏名</td>
        <td scope="col" style="width: 80%"><%= current_customer.name_sei %> <%= current_customer.name_mei %></td>
    </tr>
    <tr>
        <td class="secondary">カナ</td>
        <td scope="col" style="width: 80%"><%= current_customer.kana_sei %><%= current_customer.kana_mei %></td>
    </tr>
    <tr>
        <td class="secondary">郵便番号</td>
        <td scope="col" style="width: 80%"><%= current_customer.post_code %></td>
    </tr>
    <tr>
        <td class="secondary">住所</td>
        <td scope="col" style="width: 80%"><%= current_customer.address %></td>
    </tr>
    <tr>
        <td class="secondary">電話番号</td>
        <td scope="col" style="width: 80%"><%= current_customer.phone_number %></td>
    </tr>
    <tr>
        <td class="secondary">メールアドレス</td>
        <td scope="col" style="width: 80%"><%= current_customer.email %></td>
    </tr>

</table>

</div>

<div class="container row">
<div class="col-2 ml-3 mt-2">
<h5>配送先</h5>
</div>
<div class="form-group postion-center">
<%= link_to '一覧を見る', addresses_path, class:"btn btn-primary" %>
</div>
</div>

<div class="container row">
<div class="col-2 ml-3 mt-2">
<h5>注文履歴</h5>
</div>
<div class="form-group postion-center">
<%= link_to '一覧を見る', orders_path, class:"btn btn-primary" %>
</div>
</div>

