<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4 class = "col-md-2 bg-light text-center my-4 ">商品一覧</h4>

   <div class = "col-md-7 text-right">
      <%= link_to new_admin_item_path do %>
        <i class="fa-solid fa-circle-plus fa-2x my-4 pt-3"></i>
      <% end %>
    </div>
  </div>
   <br>
   <table class="table">
    <thead class="thead-light">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= item.id %>
            </td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
          </tr>
          <% end %>
     </tbody>
    </table>
  </div>
</div>
