<div class="container">
  <h3><div class="d-inline mt-5 px-3 bg-light text-dark">商品新規登録</div></h3>
  <div class="col-lg-9 mx-auto">
  <br>
  <%= form_with model: @item,url: '/admin/items', method: :post do |f| %>
  <table class="table table-borderless">
    <tr>
  <td>商品画像</td>
  <td><%= f.file_field :image, accept: "image/*" %></td>
  </tr>
  <tr>
  <td>商品名</td>
  <td><%= f.text_field :name, :size=>"50" %></td>
  </tr>
  <tr>
  <td class="rowspan=2">商品説明</td>
  <td><%= f.text_area :introduction, :size=>"50×100" %></td>
  </tr>
  <tr>
  <td>ジャンル</td>
     <td><%= f.collection_selいect :genre_id, @genres, :id, :name, include_blank: "選択してください" %></td>
  </tr>
  <tr>
  <td>税抜価格</td>
  <td><%= f.number_field :price %>円</td>
  </tr>
  <tr>
  <td>販売ステータス</td>
    <td><%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "販売中", {value: :false, style: "display: inline-block;"} %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "販売停止中", {value: :true, style: "display: inline-block;"} %></td>
  </tr>
  </table>
  <br>
  <div class="form-group d-grid gap-1 col-5 mx-auto">
    <%= f.submit '新規登録', class: 'btn btn-success btn-lg' %>
  </div>

<% end %>
</div>
</div>