<div class='container'>
  <h3><div class="d-inline p-3 mb-2 bg-light text-dark font-weight-bold">商品詳細</div></h3>
    <div class='row'>
      <div class='col-md-3'>
        <br>
        <tr>
          <td><%= image_tag @item.get_item_image(250,250) %></td>
        </tr>
      </div>

      <div class='col-md-9'>
        <table class='table table-borderless'>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th>税込価格<br>
                （税抜価格)
            </th>
            <td><%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>) 円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td>
              <% if @item.is_active %>
                <span class="text text-success">販売中</span>
              <% else %>
                <span class="text text-muted">販売停止中</span>
              <% end %>
            </td>
          </tr>
      </table>
      <div class='form-group d-grid gap-1 col-5 mx-auto'>
        <%= link_to '編集する', edit_admin_item_path, class:'btn btn-success btn-lg' %>
      </div>
      </div>
    </div>
</div>