<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>管理者ログイン</h2>
      <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.text_field :email, autofocus: true, class: "email" %>
        </div>
        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "off", class: "password" %>
        </div>

        <div class="actions"><br />
          <%= f.submit 'ログイン', class: 'btn btn-sm btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
