<div class="container col-lg-9">
  <h3><div class="d-inline mt-5 px-3 bg-light text-dark">
    <%= @customer.name_sei+@customer.name_mei %>
    さんの会員詳細</div></h3>
</div>
<br>
<div class="container col-lg-9 mb-5">
  <table class="table table-borderless">
    <thead>
      <th style="width: 20%"></th>
      <th style="width: 25%"></th>
      <th></th>
    </thead>
    <tbody>
    <tr>
      <td>
        <h6>会員ID</h6>
      </td>
      <td>
        <%= @customer.id %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>氏名</h6>
      </td>
      <td>
        <%= @customer.name_sei+"　"+@customer.name_mei %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>フリガナ</h6>
      </td>
      <td>
        <%= @customer.kana_sei+"　"+@customer.kana_mei %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>郵便番号</h6>
      </td>
      <td>
        <%= @customer.post_code %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>住所</h6>
      </td>
      <td colspan="2">
        <%= @customer.address %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>電話番号</h6>
      </td>
      <td>
        <%= @customer.phone_number %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>メールアドレス</h6>
      </td>
      <td>
        <%= @customer.email %>
      </td>
    </tr>
    <tr>
      <td>
        <h6>会員ステータス</h6>
      </td>
      <td>
        <% if @customer.is_deleted == false %>
          <div class="text-success font-weight-bold">有効</div>
        <% else %>
          <div class="text-danger font-weight-bold">退会</div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= link_to "編集する",edit_admin_customer_path,class: "btn btn-success btn-lg" %>
      </td>
      <td>
        <%= link_to "注文履歴一覧を見る",'/admin',class: "btn btn-primary btn-lg" %>
      </td>
    </tr>
    </tbody>
  </table>
</div>