<div class = "container">
  <h3><div class="d-inline mt-5 px-3 bg-light text-dark">注文履歴詳細</div></h3>


  　<div class = "row">
      <div class ="col-7">
               <table class="table table-borderless">

                <tr>
                    <th>購入者</th>
                    <td>
                        <%= link_to  admin_customer_path(@order.id) do %>
					               <%= @order.customer.name_sei+""+@order.customer.name_mei %>
					              <% end %>
			              </td>
	              </tr>

                <tr>
                    <th>注文日</th>
                    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                </tr>

                <tr>
                    <th>配送先</th>
                    <td>
                        〒<%= @order.post_code %>
                          <%= @order.address %><br>
                          <%= @order.name %>
                    </td>
                </tr>

                <tr>
                    <th>支払方法</th>
                    <td><%= @order.payment_method_i18n %></td>
                </tr>

                <tr>
                    <th>注文ステータス</th>

                     <td>
                       <%= form_with model: @order,url: admin_order_path, method: :patch do |f| %>
                       <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, class: 'form-control' %>
                       <%= f.submit '更新', class: 'btn btn-success btn-sm' %>
                     </td>
                    <td></td>
                </tr>
                     <% end %>
              </table>
      </div>
　　</div>

    　 <div class = "row">
    　 <div class="col-7">
            <table class="table table-borderedress ">
             <thead class="thead">
              <tr>
                <th class="secondary bg-light">商品名</td>
                <th class="secondary bg-light">単価（税込）</th>
                <th class="secondary bg-light">個数</th>
                <th class="secondary bg-light">小計</th>
                <th class="secondary bg-light">製作ステータス</th>
                <th class="secondary bg-light">   </th>
            　</tr>
             </thead>
              <tbody>
                <% @order_details.each do |order_detail| %>
                   <tr>
                    <td class = "align-middle"><%= order_detail.item.name %></td>
                    <td class = "align-middle text-center"><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
                    <td class = "align-middle text-center"><%= order_detail.quantity %></td>
                    <td class = "align-middle text-center"><%= order_detail.subtotal.to_s(:delimited) %></td>

                 <td>
                   <%= form_with model: order_detail, url:  admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                   <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                   <%= f.hidden_field :order_detail_id, value: order_detail.id %>
                   <%= f.submit '更新', class: 'btn btn-success btn-sm' %>
                   <% end %>
                  </td>
                <% end %>
          </tr>
              </tbody>
            </table>
          </div>

           <div class="col-4">
                  <table class="table table-borderless">
　　　　　　　　　　<tr>
                        <% @total = @order_details.inject(0) { |sum, item| sum + item.subtotal } %>
                        <th>商品合計</th>
                        <td ><%= @total.to_s(:delimited) %>円</td>
                    </tr>
                    <tr>
                        <th>送料</th>
                        <td><%= @order.shipping_price %>円</td>
                    </tr>
                    <tr>
                        <th>請求金額合計</th>
                        <th><%= @order.price_all.to_s(:delimited) %>円</th>
                    </tr>
                  </table>
        </div>
       </div>

</div>