<div class="container">
  <h3><div class="d-inline mt-5 px-3 bg-light text-dark">注文履歴一覧</div></h3>
  <br>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
   </thead>
   <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to(admin_order_path(order.id)) do %>
          <%= order.created_at %>
          <% end %>
        </td>
        <td><%= order.customer.name %></td>
        <td><%= order.order_deteal.quantity %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= paginate @orders %>
</div>
