<div class = "container">
  <h3><div class="d-inline mt-5 px-3 bg-light text-dark">注文情報確認</div></h3>
    　 <div class = "row">
    　     <div class="col-7">
            <table class="table table-bordered ">
             <thead class="thead">
              <tr>
                <td class="secondary bg-light">商品名</td>
                <td class="secondary bg-light">単価（税込）</th>
                <td class="secondary bg-light">数量</th>
                <td class="secondary bg-light">小計</th>
            　</tr>
             </thead>
              <tbody>
                <%# @order.each do |order| %>
                <%# @total += cart_item.subtotal.to_s(:delimited) %>
                  <tr>
                    <td scope="col" style="width: 70%">
                       <% if order.item.image.attached? %>
                         <%= image_tag order.item.image, size: "100x50" %>
                       <% else %>
                         <%= image_tag 'no_image.jpeg', size: "100x50" %>
                       <% end %>

                       <%= @cart_item.item.name %>
                    </td>
                    <td scope="col" style="width: 60%"><%#= order.item.add_tax_price.to_s(:delimited) %></td>
                    <td scope="col" style="width: 60%"><%#= order.order_detail.quantity %></td>
                    <td scope="col" style="width: 60%"><%#= order.cart_item.subtotal.to_s(:delimited) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>


           <div class="col-3">
                  <table class="table table-bordered border-secondary">
                    <tr>
                        <td class="secondary bg-light">配送料</td>
                        <td scope="col" style="width: 60%"><%#= @order.shipping_price.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <td class="secondary bg-light">商品合計</td>
                        <td scope="col" style="width: 60%"><%#= @total %></td>
                    </tr>
                    <tr>
                        <th class="secondary bg-light">請求金額</th>
                        <td scope="col" style="width: 60%"><%#= @order.price_all.to_s(:delimited) %></td>
                    </tr>
                  </table>
            </div>
      </div>

      <div class = "row">
        　<h5><p class="font-weight-bold">支払方法</p></h5>
                 <p><%= @order.payment_method %></p>
      </div>

      <div class = "row">
        　<h5><p class="font-weight-bold">お届け先</p></h5>
                  <p><%= @order.address %></p>
                  <p><%= @order.name %></p>
      </div>

     
    　 　 <div class = "row justify-content-center">
          <%= link_to'注文を確定する', orders_complete_path, class:"btn btn-success" %>
         </div>
   
</div>
