<div class='container center'>
  <div class="row  align-items-center">
    <div class="col-auto">
      　<%= image_tag @item.image %>
    </div>

    <div class="col">
      　<ul><%= @item.name %></ul>
      　<ul><%= @item.introduction %></ul>
      　<ul><h5>¥<%= @item.add_tax_price %>(税込)</h5></ul>

    </div>


       <%= form_with model: @cart_item, url: '/cart_items', local: true do |f| %>
       <th><%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] , include_blank: "個数選択"%></th>
       <th><%= f.hidden_field :item_id, :value => @item.id %></th>
       <th><%= f.submit "カートに入れる", class: "btn btn-success btn-sm" %></th>
       <% end %>



  </div>
</div>


